

.userInfo{
    
    padding:1.5rem;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.userName{
    text-align: center;
 margin: 10px 0 0px 0;
}

.userUsername{
    
    margin-bottom: 10px;
}

.userWebsite{
    margin: 10px 0;
}